

/* input 1 style  */

.searhInout1-parent{
    display: flex;
    justify-content: space-between;
}
.srarchInput1-icon{
    margin-top: 15px;
    margin-right: 20px;
    color: gray;
}
/* input comp 2 */
.srarchInput-icon{
    margin-top: 15px;
    margin-right: 20px;

    color: gray;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: auto;
    padding-top: 10px;
}
.srarchInput-icon:hover{
    cursor: pointer;
    background-color: rgb(232, 224, 224);
    border-radius: 50%;
      

}

.searhInout-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.SearchInput-child-1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    
}
.srarchInput-button{
    margin-top: 15px;
    margin-right: 20px;
}
.base-Popper-root{
    left: 7% !important;
    top: 3% !important;
}

