* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.inputField-one {
    width: 90%;
    margin-left: 5%;


}

.text-login {
    text-align: center;
}

.text-login h2,
h1,
h3 {
    margin-top: 10px;
}

.paperDiv-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.inputP {
    color: blue;
    font-weight: "bolder";
    font-size: "15px";
    margin-top: 10px;
}

.inputText {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    
    margin: 5%;
}